.ViewPost {
  font-size: larger;
  font-weight: 1000;
  max-width: 40%;
  width: 95%;
  border: 5px solid #2e2727;
  border-radius: 20px;

  margin: 20px auto;
  text-align: center;
}

.ViewCommentsDiv {
  /* background-color: red; */
  border-top: 3px solid black;
  margin: 20px;
}

.ComentInputDiv {
  /* background-color: orange; */
  margin: 20px;
}

.InputStyle {
  margin-bottom: 10px;
  border-radius: 5px;
}

.CommentDiv {
  width: 60%;
  margin: auto;
}
.HeartShape {
  display: inline;
  color: red;
  margin-right: 3px;
}

.CommentContent {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-right: auto;
  text-align: left;
}

.CommentMetaData {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-left: auto;
  text-align: right;
}

.WriteCommentArea {
  width: 60%;
  margin: auto;
}

.WriteCommentArea > textarea {
  width: 100%;
  height: 20px;
  resize: none;
}
