.ViewPost {
  font-size: larger;
  font-weight: 1000;
  max-width: 40%;
  width: 95%;
  border: 8px solid #2e2727;
  border-radius: 20px;

  margin: 80px auto;
  text-align: center;
}

.ViewCommentsDiv {
  /* background-color: red; */
  border-top: 5px solid black;

  margin: 10px;
}

.ComentInputDiv {
  /* background-color: orange; */
}

.InputStyle {
  font-size: medium;
  font-weight: 500;
}

.CommentDiv {
  /* background-color: teal; */
  font-size: medium;
  border: 2px solid black;
  border-radius: 10px;
  width: 85%;

  /* height: 105px; */
  margin: auto auto 5px auto;
  padding: 10px;
}
.HeartShape {
  display: inline;
  margin-right: 3px;
  cursor: pointer;
}

.CommentContent {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-right: auto;
  text-align: left;
}

.CommentMetaData {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-left: auto;
  text-align: right;
}

.WriteCommentArea {
  /* background-color: red; */

  width: 90%;
  margin: -17px auto auto;
}

.WriteCommentArea > textarea {
  width: 95%;
  height: 25px;
  resize: none;
}
