.ViewPost {
  font-size: large;
  max-width: 70%;
  width: 95%;
  border: 5px solid #2e2727;
  border-radius: 20px;

  margin: 20px auto;
  text-align: center;
}

.ViewCommentsDiv {
  /* background-color: red; */
  border-top: 1px solid black;
  margin: 20px;
}

.ComentInputDiv {
  /* background-color: orange; */
  margin: 20px;
}

.InputStyle {
  margin-bottom: 10px;
}

.CommentDiv {
  /* background-color: yellow; */
}
.HeartShape {
  display: inline;
  color: red;
  margin-right: 3px;
}
