.Header {
  width: 100%;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.HeaderLeftTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
