.Header {
  width: 100%;
  height: 10vh;

  background-color: black;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  margin-right: auto;
}

.HeaderLeftTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  cursor: pointer;
}

.HeaderLeftLogo {
  height: 8vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.HeaderLeftTitle {
  font-size: 2rem;
}

.HeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  margin-left: auto;
}

.HeaderRightNavBarUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  list-style: none;
}

.HeaderMiddleSearchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.HeaderMiddleSearchInput {
  margin-right: 5%;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.6rem;

  padding: 0.2rem 0.5rem;
  color: white;
  font-size: larger;
  font-weight: 1000;
}

.HeaderMiddleSearchButton {
  white-space: nowrap;
  width: fit-content;
}

.HeaderRightProfileMenuUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  list-style: none;
}

/* post와 댓글창 css 통일중 - 김원준 */
.Post {
  margin: 20px;
  text-align: center;

  border-radius: 20px;
  font-size: larger;
  font-weight: 1000;
}

.PostTitle,
.PostContent {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-right: auto;
  text-align: center;
}

.PostMetaData {
  word-wrap: break-word;
  max-width: 100%;
  white-space: normal;
  margin-left: auto;
  text-align: center;
}

.Footer {
  width: 100%;
  height: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: lightgray;
}

.FooterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 1rem;
}

.FooterInfo > * {
  text-align: center;

  margin-top: 0px;
}

@media (width < 800px) {
  .Header {
    flex-direction: column;
    height: fit-content;
  }

  .HeaderLeftTitle {
    font-size: 1.5rem;
  }

  .Footer {
    height: fit-content;
  }

  .Post {
    max-width: 100%;
  }
}

@media (width < 550px) {
  .HeaderRight {
    flex-direction: column;
  }
}

.editInput {
  height: 1.5625rem;
  width: 10.75rem;

  border: 0.0625rem solid #2e2727;
  margin: 0 1.5rem;

  max-width: 80vw;
  border-radius: 0.75rem;
  outline: none;
  padding: 0 0.625rem;
  text-align: center;

  /* 김원준 css test */
  border: 0.15rem solid #2e2727;
  font-size: large;
  /* border: 0.0625rem solid #2e2727; */
}

.editTextarea {
  /* width: 25rem; */
  min-height: 10.75rem;
  max-height: 10.75rem;
  /* width: 20.125rem; */
  max-width: 30vw;
  min-width: 20vw;

  margin-top: 0.625rem;
  border-radius: 0.75rem;
  outline: none;
  border: 0.0625rem solid #2e2727;
  text-align: center;
  padding: 0.625rem;

  /* 김원준 css test */
  border: 0.15rem solid #2e2727;
  font-size: large;
  /* border: 0.0625rem solid #2e2727; */
}

.editPost {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1.5rem;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
}
