.WritePostForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1.5rem;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
}

.WritePostFormTitle {
  margin: 0 1.5rem;
  height: 1.5625rem;
  width: 18.75rem;
  max-width: 80vw;
  border-radius: 0.75rem;
  outline: none;
  padding: 0 0.625rem;
  text-align: center;

  /* 김원준 css test */
  border: 0.15rem solid #eb7272;
  font-size: large;
  /* border: 0.0625rem solid #2e2727; */
}

.WritePostFormContentContainer > textarea {
  width: 25rem;
  min-height: 18.75rem;
  max-height: 18.75rem;
  width: 28.125rem;
  max-width: 77vw;

  border-radius: 0.75rem;
  outline: none;

  text-align: center;
  padding: 0.625rem;

  /* 김원준 css test */
  border: 0.15rem solid #eb7272;
  font-size: large;
  /* border: 0.0625rem solid #2e2727; */
}

.NewsfeedComponent {
  display: grid;
  grid-template-columns: auto auto auto;
}

.NewsfeedComponent > div {
  width: 22vw;
}

@media (width < 700px) {
  .NewsfeedComponent {
    display: flex;
    flex-wrap: wrap;
  }

  .NewsfeedComponent > div {
    width: auto;
  }
}

.Modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);

  font-size: larger;
}

.Modal > button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.Modal > section {
  width: 90%;
  max-width: 560px;
  max-height: 560px;
  margin: 0 auto;
  /* border-radius: 0.3rem; */
  border-radius: 7px;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.Modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #eb7272;
  font-weight: 700;
  color: white;
}
.Modal > section > header button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
}

.Modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.Modal.OpenModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

.customButton {
  background-color: transparent;
  border: 2px solid #eb7272;
  color: #2e2727;
  cursor: pointer;

  margin: 0.1rem 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  transition: linear 0.2s;
}

.customButton:hover {
  background-color: #02520f;
  color: white;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width < 800px) {
  .Post {
    max-width: 60vw;
  }
}
