@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  min-height: 75vh;
}

.Button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;

  margin: 0.1rem 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  transition: linear 0.2s;
}

@media (width >= 550px) {
  .BigButton {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;

    font-size: 1rem;
  }
}

.Button:hover {
  background-color: black;
  color: white;
}

.MenuButton {
  border: 2px solid white;
  color: white;
}

.MenuButton:hover {
  background-color: white;
  color: black;
}
